:global(.vtex-stack-layout-0-x-stackItem):has(:global(.vtex-wish-list-1-x-wishlistIconContainer)) {
    left: auto;
    right: 0.5rem;
}

@media (max-width:547px) {
    :global(.vtex-render__container-id-minibanners-1) {
         overflow-x:hidden ;
        :global(.vtex-store-components-3-x-container) {
            padding-right: 0;
            overflow-x: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
                width: 0;
                height: 0;
            }

            :global(.vtex-flex-layout-0-x-flexRowContent--minibanners-1) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
                display: flex;
                justify-content: flex-start;
                gap: 1rem;

                >div {
                    min-width: 33vw;
                }
            }

        }
    }

}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-brand) {
   > :global(.flex):nth-child(2) {
        flex:1;

       > :global(.vtex-flex-layout-0-x-flexRow--footer-seals) {
            width: 100%;
        }
    }
}

:global(.vtex-store-drawer-0-x-childrenContainer) {
    padding-left: 1rem;
}

:global(.vtex-dropdown__container) :global(select) {
    height: 62px;
  border: none;
}

:global(.ReactCollapse--collapse) {
    :global(.ReactCollapse--content) > :global(div) {
        padding: 0 !important;
    }
}